extends layout

block content
        h1= title
        p.lead Lägg till poäng
        p ID Should be #{comp[0].scorecardID}
        div
            form(action="/scores/" + comp[0].scorecardID, method="POST")
                h2= comp[0].competitionName
                div
                    input(type="hidden", name="scorecardID", value=comp[0].scorecardID)
                - var counter=0;
                for team in comp
                    h2= team._id
                    ul
                    for member in team.members
                        li
                            =member.name
                button.btn.btn-warning(type="submit") Spara