extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Scorekeeper
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Results
            li
              a(href='#about') Inställning

    .container
      .starter-template
        h1= title
        p.lead Ställ in din tävling här
        p ID Should be #{comp.scorecardID}
        div
            form(action="/setup", method="POST")
                h4 Speldetaljer
                div
                    input(type="hidden", name="scorecardID", value=comp.scorecardID)
                div
                    label(for="competionName") Tävlingsnamn
                    input(name="competionName")
                h4 Deltagare
                    table
                        tr
                            th
                            th Namn:
                            th Lag:
                            th Kön
                        - var counter=0;
                        for user in comp.users
                            tr
                                td=val
                                td
                                    input(name="user" + counter + "name", value=user.name) 
                                td 
                                    input(name="user" + counter + "team", value=user.team) 
                                td
                                    label(for="sex_" + counter) M
                                        input(type="radio", name="user" + counter + "sex", value="M", checked="checked")
                                    &nbsp; &nbsp; &nbsp;
                                    label(for="sex_" + val) F
                                        input(type="radio", name="user" + counter + "sex", value="F")
                                    input(type="hidden", name="user" + counter + "id", value=user.id) 
                            - counter++
                h4 Grenar
                    table
                        tr
                            th
                            th Gren:
                            th Kommentar:
                            th Poängenhet
                        - var counter=0;
                        for branch in comp.branches
                            tr
                                td=val
                                td
                                    input(name="branch" + counter + "name", placeholder="Grenens namn", value=branch.name)
                                td 
                                    input(name="branch" + counter + "comment", placeholder="Kommentar om grenen", value=branch.comment)
                                td 
                                    input(name="branch" + counter + "unit", placeholder="Enhet, till exempel gram, poäng eller slag", value = branch.unit)
                            - counter++
                    button.btn-error(type="submit")