extends layout

block content
        h1= title
        p.lead Ställ in din tävling här
        p ID Should be #{comp.scorecardID}
        div
            form(action="/setup", method="POST")
                h4 Speldetaljer
                div
                    input(type="hidden", name="scorecardID", value=comp.scorecardID)
                div
                    label(for="competitionName") Tävlingsnamn
                    input(name="competitionName", value=comp.competitionName)
                h4 Deltagare
                    table
                        tr
                            th
                            th Namn:
                            th Lag:
                            th Kön
                        each user, counter in comp.users
                            tr
                                td=val
                                td
                                    input(name="users_" + counter + "_name", value=user.name) 
                                td 
                                    input(name="users_" + counter + "_team", value=user.team)
                                td
                                    label(for="sex_" + counter) M
                                        input(type="radio", name="users_" + counter + "_sex", value="M", checked=(user.sex==='M'))
                                    &nbsp; &nbsp; &nbsp;
                                    label(for="sex_" + counter) F
                                        input(type="radio", name="users_" + counter + "_sex", value="F", checked=(user.sex==='F'))
                                    input(type="text", name="users_" + counter + "_id", value=user._id)
                            - counter++
                h4 Grenar
                    table
                        tr
                            th
                            th Gren:
                            th Kommentar:
                            th Poängenhet
                        each branch, counter in comp.branches
                            tr
                                td=val
                                td
                                    input(name="branches_" + counter + "_name", placeholder="Grenens namn", value=branch.name)
                                td 
                                    input(name="branches_" + counter + "_comment", placeholder="Kommentar om grenen", value=branch.comment)
                                td 
                                    input(name="branches_" + counter + "_unit", placeholder="Enhet, till exempel gram, poäng eller slag", value = branch.unit)
                                    input(type="text", name="branches_" + counter + "_id", value=branch._id)
                    button.btn.btn-warning(type="submit") Spara